<section class="text-gray-700 body-font bg-slate-50">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img class="lg:w-1/2 md:w-2/3 w-full mb-10 object-cover object-center rounded" src="assets/images/hero.png"
            alt="hero">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                All the skills you need in one place
            </h1>
            <p class="mb-8 leading-relaxed">
                From critical workplace skills to technical topics, our catalog supports well-rounded professional development.
            </p>
            <div class="flex justify-center">
                <button
                    class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
                    Browse Courses
                </button>
            </div>
        </div>
    </div>
</section>